
.header__inner { 
  position: relative;          
  height: $header_height;
  @media screen and (max-width: $mobile-big_end-point) {
    display: flex;
    flex-direction: row;      
    justify-content: flex-end;           
    align-items: center; 
    height: $header_mobile-height;
  }
}

.menu-icon {  
  font-size: 27px;
  color: $icon-menu_color;    
  z-index: 60;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  &:hover {
    opacity: 0.6;
    color: $icon-menu_hover;
    transition: 0.4s; 
    cursor: pointer;
  }
  @media screen and (min-width: $tablet-small_starting-point) {
    display: none;
  }
}

.menu {  
  display: flex;
  flex-direction: row;      
  justify-content: center;               
  align-items: center;  
  height: $header_height;                   
  @media screen and (max-width: $mobile-big_end-point) {
    display: none;
  }    
  opacity: 0;
  animation: descent 0.8s forwards; 
  @keyframes descent {
    0% {opacity: 0;}
    100% {opacity: 1;}
    0% {transform: translateY(-50%);}
    100% {transform: translateX(0);}
  }
  
  &__list {
    @media screen and (min-width: $tablet-small_starting-point) {
      display: flex;
    }
  }
  
  &__list-item {
    margin: 30px 20px;  
    font-size: 16px;
  }
  
  &__list-title {  
    padding: 7px;      
    border-radius: 6px; 
    font-size: 1.2em;
    font-family: sans-serif;       
    font-weight: 400;                              
    color: $link-menu_color; 
    &:hover { 
      transition: 0.4s ease;
      color: $link-menu_hover;
    }   
  }
  
  &__list-title--active {
    color: $link-menu-active_color;  
    font-weight: 400;                    
    cursor: default;
    @media screen and (max-width: $mobile-big_end-point) {
      position: relative;
      &::after {
        position: absolute;
        content: '';
        top: 0; 
        left: 0;
        bottom: 0; 
        border-radius: 0.12em;
        border: 0.12em solid $link-menu-active_color;
        background: $link-menu-active_color;  
      }
    } 
    &:hover { 
      color: $link-menu-active_color;
    } 
  }

  &--style_background {
    /*&:hover {
      transition: 0.7s ease;
      background: rgba(0, 0, 0, 0.2); 
    }*/
  }

  
}

@media screen and (max-width: $mobile-big_end-point) {
  .menu-mobile {
    position: fixed;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    top: 0;
    right: 0;
    bottom: 0;
    z-index: 50;
    width: 300px;
    box-shadow: 0px 2px 5px 0px rgba(79,79,79,0.4);
    -webkit-box-shadow: 0px 2px 5px 0px rgba(79,79,79,0.4);
    -moz-box-shadow: 0px 2px 5px 0px rgba(79,79,79,0.4);
    @media screen and (max-width: 345px) {
      width: 345px;
    }
    height: 100%;
    overflow: auto;
    background: rgba(256, 256, 256, 1);
    .menu__list-item {
      margin: 60px 0; 
    }
    .menu__list-title {  
      padding: 7px 10px;
    }
    &:hover {
      transition: 0.3s ease;
      background: rgba(256, 256, 256, 0.9); 
    }   
    animation: demonstration 0.5s forwards;   
    @keyframes demonstration {
      0% {opacity: 0;}
      100% {opacity: 1;}
    }
  }
  
}


