/* main variables */

$color-base: #ffffff;
$color-hover: silver;

$header_bg: rgba(256, 256, 256, 1);

$header-logo_bg: #b4d249;
$header-logo_hover: $color-hover;
$header-line_bg: silver;

$header_height: 80.4px;
$header_mobile-height: 53.6px; 

$icon-menu_color: #646464;
$icon-menu_hover: $color-hover;
$link-menu_color: #646464;
$link-menu_hover: $color-hover;
$link-menu-active_color: #b4d249;

$footer_bg: #484750;
$footer-logo_hover: $color-hover;

$icon-social_color: $color-base;
$icon-social_hover: $color-hover;




