<!-- TODO - module a-lightbox -->
<div id="a-lightbox">
          
  <div id="modal-layer" class="a-lightbox__modal-layer">    
         
    <div class="a-lightbox__modal a-switching">
            
      <div class="a-lightbox__images-box a-switching">
      <!--<div class="numbertext">1 / 7</div>-->
        <img class="a-lightbox__images a-switching" src="img/1.jpg" alt="starlandscape">
      <!--<div class="text">Подпись текста</div>-->
      </div>

      <div class="a-lightbox__images-box a-switching">
      <!--<div class="numbertext">2 / 7</div>-->
        <img class="a-lightbox__images a-switching" src="img/2.jpg" alt="starlandscape">
      <!--<div class="text">Подпись текста</div>-->
      </div>

      <div class="a-lightbox__images-box a-switching">
      <!--<div class="numbertext">3 / 7</div>-->
        <img class="a-lightbox__images a-switching" src="img/3.jpg" alt="photo of the Milky Way">
      <!--<div class="text">Подпись два</div>-->
      </div>

      <div class="a-lightbox__images-box a-switching">
      <!--<div class="numbertext">4 / 7</div>-->
        <img class="a-lightbox__images a-switching" src="img/4.jpg" alt="star cluster image">
      <!--<div class="text">Подпись три</div>-->
      </div>

      <div class="a-lightbox__images-box a-switching">
      <!--<div class="numbertext">5 / 7</div>-->
        <img class="a-lightbox__images a-switching" src="img/5.jpg" alt="supernova 1a explosion">
      <!--<div class="text">Подпись четыре</div>-->
      </div>

      <div class="a-lightbox__images-box a-switching">
      <!--<div class="numbertext">6 / 7</div>-->
        <img class="a-lightbox__images a-switching" src="img/6.jpg" alt="supernova 1a explosion">
      <!--<div class="text">Подпись четыре</div>-->
      </div>

      <div class="a-lightbox__images-box a-switching">
      <!--<div class="numbertext">7 / 7</div>-->
        <img class="a-lightbox__images a-switching" src="img/7.jpg" alt="supernova 1a explosion">
      <!--<div class="text">Подпись четыре</div>-->
      </div>
      
      <span class="a-lightbox__close a-controls">&times;</span>

      <a class="a-lightbox__prev a-controls">&#10094;</a>
      <a class="a-lightbox__next a-controls">&#10095;</a>

      <div class="a-lightbox__dot-box a-controls">
        <span class="a-lightbox__dot"></span> 
        <span class="a-lightbox__dot"></span>
        <span class="a-lightbox__dot"></span> 
        <span class="a-lightbox__dot"></span> 
        <span class="a-lightbox__dot"></span>
        <span class="a-lightbox__dot"></span>
        <span class="a-lightbox__dot"></span>
      </div>

    </div>

  </div> <!-- gallery-layer -->

  <!--
  <div>
    <span class="dot" onclick="currentSlide(1)"></span> 
    <span class="dot" onclick="currentSlide(2)"></span> 
    <span class="dot" onclick="currentSlide(3)"></span> 
    <span class="dot" onclick="currentSlide(4)"></span>
    <span class="dot" onclick="currentSlide(5)"></span>
  </div>
  -->
        
</div>     
        
          

