<!-- TODO - module lightbox-b -->
<div id="lightbox-b">  
         
    <div class="lightbox-b__modal click-controls">
            
      <div class="lightbox-b__images-box click-controls">
      <!--<div class="numbertext">1 / 7</div>-->
        <img class="lightbox-b__images click-controls" src="img/sl-1.jpg" alt="starlandscape">
      <!--<div class="text">Подпись текста</div>-->
      </div>

      <div class="lightbox-b__images-box click-controls">
      <!--<div class="numbertext">2 / 7</div>-->
        <img class="lightbox-b__images click-controls" src="img/lamp.jpg" alt="starlandscape">
      <!--<div class="text">Подпись текста</div>-->
      </div>

      <div class="lightbox-b__images-box click-controls">
      <!--<div class="numbertext">3 / 7</div>-->
        <img class="lightbox-b__images click-controls" src="img/worker.jpg" alt="photo of the Milky Way">
      <!--<div class="text">Подпись два</div>-->
      </div>

      <div class="lightbox-b__images-box click-controls">
      <!--<div class="numbertext">4 / 7</div>-->
        <img class="lightbox-b__images click-controls" src="img/family.jpg" alt="star cluster image">
      <!--<div class="text">Подпись три</div>-->
      </div>

      <div class="lightbox-b__images-box click-controls">
      <!--<div class="numbertext">5 / 7</div>-->
        <img class="lightbox-b__images click-controls" src="img/5.jpg" alt="supernova 1a explosion">
      <!--<div class="text">Подпись четыре</div>-->
      </div>

      <div class="lightbox-b__images-box click-controls">
      <!--<div class="numbertext">6 / 7</div>-->
        <img class="lightbox-b__images click-controls" src="img/6.jpg" alt="supernova 1a explosion">
      <!--<div class="text">Подпись четыре</div>-->
      </div>

      <div class="lightbox-b__images-box click-controls">
      <!--<div class="numbertext">7 / 7</div>-->
        <img class="lightbox-b__images click-controls" src="img/7.jpg" alt="supernova 1a explosion">
      <!--<div class="text">Подпись четыре</div>-->
      </div>
      
      <div class="lightbox-b__images-box click-controls">
      <!--<div class="numbertext">8 / 8</div>-->
        <img class="lightbox-b__images click-controls" src="img/garage-bg.jpg" alt="supernova 1a explosion">
      <!--<div class="text">Подпись четыре</div>-->
      </div>

      <span class="lightbox-b__close controls">&times;</span>

      <a class="lightbox-b__prev controls">&#10094;</a>
      <a class="lightbox-b__next controls">&#10095;</a>

      <div class="lightbox-b__dot-box controls">
        <span class="lightbox-b__dot"></span> 
        <span class="lightbox-b__dot"></span>
        <span class="lightbox-b__dot"></span> 
        <span class="lightbox-b__dot"></span> 
        <span class="lightbox-b__dot"></span>
        <span class="lightbox-b__dot"></span>
        <span class="lightbox-b__dot"></span>
        <span class="lightbox-b__dot"></span>
      </div>

    </div>

  

  <!--
  <div style="text-align:center">
    <span class="dot" onclick="currentSlide(1)"></span> 
    <span class="dot" onclick="currentSlide(2)"></span> 
    <span class="dot" onclick="currentSlide(3)"></span> 
    <span class="dot" onclick="currentSlide(4)"></span>
    <span class="dot" onclick="currentSlide(5)"></span>
  </div>
  -->
        
</div>     
        
          

