
footer { 
  position: relative;
  max-width: 100%;
  height: auto; /* TODO - necessarily!*/  
  margin-top: auto;
  padding: 10px 0 0 0;					
  border: 1px solid $footer_bg; /* TODO - border necessarily! */ 
  background: $footer_bg;   
}

.footer__content {
  display: flex;
  flex-direction: row-reverse;                  
  justify-content: space-between;  
  align-items: center;
  @media screen and (max-width: 560px) { 
    flex-direction: column;;  
  }
  
}

.footer {
  &__logo {   
    display: flex;
    flex-direction: row;                   
    justify-content: center;  
    align-items: center; 
    height: 2.4em;
    font-size: 16px; 
    @media screen and (max-width: 560px) { 
      margin-bottom: 15px; 
    }    
     
    &:hover {    
      transition: 0.4s; 
      cursor: pointer;
    }    
  }

  &__logo-link {
    position: relative; 
    padding: 0.3em 0.3em 0.3em 0;                     
  }

  &__logo-link:hover::before {
    position: absolute;
    content: "";
    right: -1.5em; 
    bottom: -0.5em;
    height: 0;
    width: 0;
    border-left: 1.4em solid $footer-logo_hover;
    border-top: 1.6em solid transparent;
    border-bottom: 1.6em solid transparent; 
  }

  &__logo-text {    
    font-size: 1.2em;
    font-weight: 900;
    letter-spacing: 0.2em;
    color: $color_base;      
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0); 
  }
  
}  

.footer-social { 
  display: flex;
  flex-direction: row;
  justify-content: space-between;  
  align-items: center;
  padding: 40px 0; 
  font-size: 16px;
  
  &__link {    
    display: block;
    margin: 1em;
    padding: 0; 
    @media screen and (min-width: 561px) { 
      margin: 1em 0 1em 2.5em;  
    }                          
  }
  
  &__icon {
    padding: 0; 
    font-size: 1.9em;       
    color: $color_base; 
    &:hover {
      color: $icon-social_hover;
      transition: 0.2s;
    }        
  }
  
}
  

