<header class="header">
  <div class="container">    
    <div class="header__inner">
      @@include('../components/logo.html', {}) 
      <span class="menu-icon fas fa-bars blind-click"></span>
      <nav class="menu blind-click">
        <ul class="menu__list blind-click">
          <li class="menu__list-item blind-click">
            <span class="menu__list-title menu__list-title--active blind-click">About company</span>
          </li>
  
          <li class="menu__list-item blind-click">
            <a class="menu__list-link" href="shipping.html">
              <span class="menu__list-title blind-click">Shipping and payment</span>
            </a>
          </li>
  
          <li class="menu__list-item blind-click">
            <a class="menu__list-link" href="service.html">
              <span class="menu__list-title blind-click">Service</span>
            </a>
          </li>
  
          <li class="menu__list-item blind-click">
            <a class="menu__list-link" href="contacts.html">
              <span class="menu__list-title blind-click">Contacts</span>
            </a>
          </li>
        </ul>
      </nav>
    </div>
  </div>
  <hr class="header__line"> 
</header>

  
