<footer class="footer">

  <div class="messengers-box">
    <span class="messengers-box__base-icon fab fa-facebook-messenger blind-click"></span>
                 
    <a class="messengers-box__link first" href="">
      <span class="messengers-box__icon fab fa-viber blind-click"></span>             
    </a>
                   
    <a class="messengers-box__link second" href="">
      <span class="messengers-box__icon fab fa-telegram-plane blind-click"></span> 
    </a>
                    
    <a class="messengers-box__link third" href="">
      <span class="messengers-box__icon fab fa-facebook-messenger blind-click"></span>
    </a>
        
    <a class="messengers-box__link fourth" href="">
      <span class="messengers-box__icon fa fa-phone-alt blind-click"></span>
    </a>       
  </div>

  <div class="container">
  
    <div class="footer__content">
              
      <div class="footer-social">                                     
        <a class="footer-social__link" href="">
          <span class="footer-social__icon fab fa-instagram"></span>            
        </a>          
        <a class="footer-social__link" href="">
          <span class="footer-social__icon fab fa-twitter"></span> 
        </a>                  
        <a class="footer-social__link" href="">
          <span class="footer-social__icon fab fa-facebook-f"></span>
        </a>        
      </div> 
      
      <div class="footer__logo">
        <a class="footer__logo-link footer-logo-link" href="index.html">
          <span class="footer__logo-text">Solar panels</span>
        </a>           
      </div>
                                
    </div><!-- footer__content --> 
      
  </div><!-- container -->      
</footer>
